/* CSS for the generated markdown, which of course can't be tailwinded */

body {
  line-height: 1.6rem;
  font-family: "Wotfard", "Avenir Medium", "Avenir Next Medium", "Avenir Next LT Pro", "Montserrat", sans-serif;
}

code, pre {
  font-family: "Roboto Mono", "Consolas", monospace;
  font-size: 14px;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 1px 3px 1px 3px;
}

/*
@media (prefers-color-scheme: dark) {
  code, pre {
    background-color: #525252;
  }
}
*/

p, blockquote, ul, ol, dl, table, pre, article {
  margin: 12px 0 18px 0;
}

a {
  text-decoration: underline;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin: 18px 0 18px 0;
}

/*h1 {
  font-family: 'Clicker Script';
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  text-decoration: underline;
  text-underline-offset: 3px;
  transform: rotate(-4deg);
}*/

h2 {
  font-weight: 600;
  font-size: 32px;
  margin: 18px 0 24px 0;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  margin: 28px 0 -8px 0;
}

li {
  list-style: initial;
  margin-left: 28px;
  padding-top: 16px;
}

summary {
  list-style: none;
}

/* same as the above, but safari is special snowflake */
::-webkit-details-marker {
   display:none;
}

hr {
  margin: 24px 0 24px 0;
}

blockquote {
  padding-left: 14px;
  margin-left: 10px;
  border-left: 2px solid #d6d3d1;
}

table {
  width:100%;
}
